body{
  margin:0;
  padding: 0;
  background-color: #fff !important;
}
.App {
  text-align: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  margin: auto ;
  margin-top:12%;
  border-collapse: collapse;
  padding: 5px;
  font-size:1.2rem;
  line-height: 1.5;
}
.rfidTable{
  width: 95% !important;
  margin-top: 4% !important;
  padding: auto 5% !important;
  line-height: 1.5;
  background-color: #fff !important;
  
}


.tableParent tr:nth-child(odd) {
  background-color: rgba(255,244,228,1)  !important ;
}
.tableParent tr:nth-child(even) {
  background-color: rgba(240,246,238,1)  !important ;
}




.rfidTable tr:nth-child(4n){
  width: 95% !important;
  margin-top: 4% !important;
  padding: auto 5% !important;
  background-color: rgba(240,246,238,1) !important  ;
}

.rfidTable tr:nth-child(4n+1){
  width: 95% !important;
  margin-top: 4% !important;
  padding: auto 5% !important;
  background-color: rgba(255,244,228,1) !important ;
}


td, th {
  
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}


.cardi {
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.2px);
-webkit-backdrop-filter: blur(17.2px);
border: 1px solid rgba(238, 237, 235, 0.93);


}
.tableParent{
margin: auto;
margin-top: -3%;
width: 60% !important;
}
.redi{
color: red !important;
}
.normal{
  color:#282c34;
}
.cardLogin{
  width: 30%;
  margin: auto;
  margin-top: 5%;
  padding-top: 1.5%;
  background-color: rgba(240,246,238,1) ;

}
.buttun{
  background:"#F68989";
  border:"#F68989" ;
}
td{
  padding: 0.6rem !important;
  height: max-content;
}
th{
padding: 0.6rem !important;
}
.linki{
  color:#61A4BC !important;
  font-weight:500;
}
.alertu{
padding: 2px 2px;
width: 70%;
}